*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 99vw;
}
:root{
    --background-1: rgb(246, 244, 245);
    --background-2:red;
    --foreground-1:rgb(249, 248, 248);
    --foreground-2:rgb(2, 2, 10);
    --melon:rgb(54, 2, 33);
    --yellow: rgba(250, 213, 5, 0.886)
}
body{
    background-color: var(--melon);
    color: rgb(255, 255, 255);
    
}
#new-entry{
    height: 100vh;
    backdrop-filter: blur(20px);
}
hr{
    border: 1px solid rgb(237, 204, 204);
}
#new-entry input{
    width: 60%;
    margin: 5px;
    border-radius: 5px;
    padding: 2px 5px;
    background: transparent;
    
    
}
#new-entry input::placeholder{
    color: rgba(255, 255, 255, 0.594);
}
#entry-preview{
    height: 100vh;
    border-left: 2px solid rgb(252, 253, 253);
    backdrop-filter: blur(20px);
}
#entry-btn{
    background-color: rgb(248, 72, 154);
    border: 1px solid pink;
    color: black
}
