*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 99vw;
}
:root{
    --background-1: rgb(246, 244, 245);
    --background-2:red;
    --foreground-1:rgb(249, 248, 248);
    --foreground-2:rgb(2, 2, 10);
    --melon:rgb(54, 2, 33);
    --yellow: rgba(250, 213, 5, 0.886)
}
body{
    background-color: var(--melon);
    color: rgb(240, 197, 6);
    font-family: 'Times New Roman', Times, serif;
    
}
h1{
    font-size: 45px;
    text-transform: uppercase;
    text-decoration:underline;
    padding: 40px 0px 20px 0px;
    margin-top: 40px;
}
#new-entry{
    height: 100vh;
    backdrop-filter: blur(20px);
}
#new-entry h2{
    font-size: 30px;
    text-transform: capitalize;
}
hr{
    border: 1px solid rgb(237, 204, 204);
}
#new-entry input, select{
    width: 60%;
    margin: 5px;
    border-radius: 5px;
    padding: 2px 5px;
    background: transparent;
    
    
}
#new-entry input::placeholder{
    color: rgba(255, 255, 255, 0.594);
}
#entry-preview{
    height: 100vh;
    border-left: 2px solid rgb(252, 253, 253);
    backdrop-filter: blur(20px);
}
#entry-preview h2{
    font-size: 25px;
    text-decoration: underline;
    text-transform: uppercase;
}
.back-office-y-btn{
    background-color: rgba(252, 141, 193, 0.801);
    border: 1px solid transparent;
    outline: none;
    color: rgb(19, 19, 1);
    border-radius: 6px;
    padding: 2px 10px;
    margin-top: 10px;
}
.back-office-y-btn:hover{
    background: transparent;
    border:  1px solid rgb(248, 72, 154);
    color: rgb(218, 8, 113);
}
#products-display{
    padding-left: 50px;
    overflow-x: scroll;
    color: white;
    font-size: 22px;
    
}
.delete-edit{
    background: transparent;
    border: none;
    outline: none;
    margin: 0px 5px;
    color: rgb(209, 4, 4);
    border-radius: 10px;
    padding: 1px 3px;
}
.edit{
    background: rgb(245, 244, 250);
    color:rgb(1, 1, 15)
}

dialog{
    height: 200px;
    width: 400px;
    display: contents;
    background: rgba(19, 3, 8, 0.726);
    backdrop-filter: blur(20px);
    left: 35vw;
    top: 35vh;
    color: yellow;
    text-align: center;
    padding-top: 50px;
    border: 1px solid rgb(54, 1, 10);
    outline: none;
    border-radius: 10px;
}

.navbar {
    margin-bottom: 0;
    background-color: rgba(79, 1, 50, 0.87);
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    max-width: 100vw
  }
  
  .navbar li a, .navbar .navbar-brand {
    color: rgb(250, 249, 249) !important;
  }
  
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: var(--melon) !important;
    background-color: rgb(255, 255, 255) !important;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: var(--foreground-1) !important;
  }

@media only screen and (max-width: 600px) {
    #new-entry{
        min-height: 50vh;  
    }
}
