*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
:root{
    --background-1: rgb(246, 244, 245);
    --background-2:red;
    --foreground-1:rgb(249, 248, 248);
    --foreground-2:rgb(2, 2, 10);
}
body{
    background-color: rgb(75, 2, 19);
    color: rgba(192, 217, 4, 0.612);
    backdrop-filter: blur(10px);
}

#products-thumbnail-div{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;   
    border: 1px solid rgba(21, 18, 18, 0);
    width: 90vw;
    
}
.products-thumbnail{
    width: 200px;
    height: 200px;
    border: 2px solid rgb(231, 231, 235);
    margin: 15px 5px;
    border-radius: 10px;
}
.products-thumbnail:hover{
    transform: scale(1.02, 1.02);
}
.search-thumbnail{
    width:100%;
    height: 60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.search-thumbnail-details{
    text-align: center;
    padding: 2px 3px 1px 3px;
    text-overflow:ellipsis;
    overflow: hidden;
}
@media only screen and (max-width: 600px) {
    .products-thumbnail{
        width:37vw;
        height: 37vw;
        font-size: 12px;
        line-height: normal;
    }
}
